/output
.idea/highlightedFiles.xml
.idea/highlightedFiles.xml
out/production/tp2/Animation/AnimationLauncher.class
out/production/tp2/Animation/AnimationPanel.class
.idea/highlightedFiles.xml
out/production/tp2/Animation/Frame.class
out/production/tp2/Animation/OutputParser.class
out/production/tp2/Animation/ParticleState.class
out/production/tp2/Animation/SimulationData.class
out/production/tp2/Simulation.class
output/off_lattice_A_eta0.00.txt
output/off_lattice_A_eta0.50.txt
output/off_lattice_A_eta1.00.txt
output/off_lattice_A_eta1.50.txt
output/off_lattice_A_eta2.00.txt
output/off_lattice_A_eta2.50.txt
output/off_lattice_A_eta3.00.txt
output/off_lattice_A_eta3.50.txt
output/off_lattice_A_eta4.00.txt
output/off_lattice_A_eta4.50.txt
output/off_lattice_A_eta5.00.txt
output/off_lattice_B_eta0.00.txt
output/off_lattice_B_eta0.50.txt
output/off_lattice_B_eta1.00.txt
*.txt
